* {
    box-sizing: border-box;
}
/*h1{
    color: pink;
} */
.title-row {
    text-align: center;
}
#title {
    color: #000080;
    text-align: center;
    font-size: 40px;
    background-color: aqua;
}

.selector-text {
    color: #000080;
    text-align: center;
}

.card {
    height: 150px;
    width: 150px;
}

img {
    height: 100px;
    width: 150px;
}

.vessels {
    display: inline-block;
    margin: 0 25px;
    border: 2px solid #000080;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    cursor: pointer;
  
}

#hero-arena {
    margin: 40px 0 0 40px;
    background-color: pink;
    
    
}

#hero-arena img {
    height: 200px;
    width: 300px;
    
}

#defender-arena{
    background-color: lightblue;
    margin: 40px 0 0 0;
    
}

#defender-arena img {
    height: 200px;
    width: 300px;
    
}


.btn {
    margin-top: 160px;
    margin-left: 60px; 
    display: block;
}

h6 {
    color: #ccc;
    font-size: 15px;
    text-align: center;
}

.row{
    margin-bottom: 40px;
}

.card img{
    
    position: relative;
}

.card-text {
    
    position: absolute;
    left: 45px;
    bottom: 10px;
}

#redCorner img {
    height: 300px;
    width: 300px;
    margin-right: 25px;

}

#blueCorner img{
    height: 300px;
    width: 300px;
    margin-left: 25px;
}

button {
    margin-top: 125px;
}